(
    texture_width: 128,
    texture_height: 256,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 32,
            height: 32,
        ),
        (
            x: 32,
            y: 0,
            width: 32,
            height: 32,
        ),
        (
            x: 0,
            y: 32,
            width: 32,
            height: 32,
        ),
        (
            x: 0,
            y: 64,
            width: 32,
            height: 32,
        ),
        (
            x: 0,
            y: 96,
            width: 32,
            height: 32,
        ),
    ]
)
